<div class="row">
    <div class="col-sm-offset-5 col-sm-3">
        <p class="text-center text-danger" ng-show="userInfo.is_default_password">
            <span class="glyphicon glyphicon-user"></span>
            If already an user, click on Sign In link below. Otherwise register to access application.
        </p>

        <form name="regform" novalidate>

            <div class="form-group">
                <label class="sr-only" for="inputUsername">Username</label>
                <input class="form-control" name="username" type="text" required id="inputUsername"
                    placeholder="Username" ng-model="user.username" />
                <div class="errortext" ng-show="regform.username.$dirty && regform.username.$invalid">
                    <span ng-show="regform.username.$error.required">Username Required</span>
                    <!--other checkings can be provided  -->
                </div>
            </div>

            <div class="form-group">
                <label class="sr-only" for="inputEmail">Email ID</label>
                <input class="form-control" name="email" type="email" required id="inputEmail" placeholder="Email ID"
                    ng-model="user.email" />
                <div class="errortext" ng-show="regform.email.$dirty && regform.email.$invalid">
                    <span ng-show="regform.email.$error.required">Email Required</span>
                    <span ng-show="regform.email.$error.email">Invalid Email ID</span>
                    <!--other checkings can be provided  -->
                </div>
            </div>

            <div class="form-group">
                <label class="sr-only" for="inputPassword">Password</label>
                <input class="form-control" name="password" type="password" required ng-minlength="8" ng-maxlength="50"
                    ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$@!%&*?])[A-Za-z\d#$@!%&*?]{8,50}$/"
                    id="inputPassword" placeholder="Password" ng-model="user.password" />
                <div class="errortext" ng-show="regform.password.$dirty && regform.password.$invalid">
                    <span ng-show="regform.password.$error.required">Password Required</span>
                    <span ng-show="regform.password.$error.minlength">Password should be atleast 8 characters
                        long</span>
                    <span ng-show="regform.password.$error.maxlength">Password should not be more than 50 characters
                        long</span>
                    <span
                        ng-show="!regform.password.$error.minlength && !regform.password.$error.maxlength && regform.password.$error.pattern">Password
                        must contain atleast 1 uppercase, 1 lowercase, 1 number and 1 special character</span>
                    <!--other checkings can be provided  -->
                </div>
            </div>

            <div class="form-group">
                <label class="sr-only" for="inputPasswordComfirm">Confirm Password</label>
                <input class="form-control" name="passwordconfirm" type="password" required id="inputPasswordConfirm"
                    placeholder="Confirm Password" ng-model="user.passwordconfirm" />
                <div class="errortext"
                    ng-show="regform.passwordconfirm.$dirty && regform.passwordconfirm.$invalid || regform.passwordconfirm.$dirty && user.passwordconfirm != user.password">
                    <span ng-show="regform.passwordconfirm.$error.required">Confirm Password Required</span>
                    <span
                        ng-show="!regform.passwordconfirm.$error.required && user.passwordconfirm != user.password">Password
                        did not match</span>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block" ng-click="register(user)">
                <span class="glyphicon glyphicon-ok"></span> Register
            </button>
            {{temp}}
            <a href="#/login">Sign In</a>
            {{data}}
        </form>

    </div>
</div>